.subscribe {
  width: 100%;
  input,
  .input-wrapper {
    width: 80%;
    @include media_min_break(sm) {
      width: 100%;
    }
  }

  input {
    border: 2px solid $black;
    min-height: 64px;
  }
  button {
    background-color: $white;
    border-radius: 40px;
    padding: 24px 35px;
  }
}

input {
  border-radius: 4px;
}

.contact {
  input,
  textarea {
    min-height: 46;
    border: 2px solid $black;
    padding: 18px 20px;
    width: 100%;
  }
  button {
    border-radius: 40px;
    padding: 25px 40px;
  }
}
