.mood {
  .mood-url {
    height: 100%;
  }
  .instagram-link:after {
    @include media_max_break(lg) {
      top: 58%;
      left: -5px;
      width: calc(100% + 10px);
    }
  }
  .instagram {
    max-width: 30px;
    margin-right: 25px;
    margin-bottom: 0;
    @include media_min_break(md) {
      max-width: 48px;
    }
  }
  .mood-image {
    object-fit: cover;
    max-height: 350px;
    max-width: 465px;
    height: 100%;
    width: 100%;
    position: relative;
    &:hover {
      outline: 8px solid #f6c168;
    }
    @include media_min_break(md) {
      max-height: 465px;
    }
  }

  .lash {
    animation: 0.6s linear both fade-in infinite;
  }

  @for $i from 1 through 12 {
    .lash-#{$i} {
      animation-delay: $i * (0.06s);
    }
  }

  @keyframes fade-in {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }
}
