.partner-banner{
    .partner-banner-background {
      background-image: url('../images/partner-banner/banner-bg.svg');
      height: 200px;
      @include media_min_break(sm) {
        background-position: center center;
      }
    }
    padding-bottom: 170px;
  }
  